@model Admin.Models.CustomModel.ModelOrdini


@{
    ViewBag.Title = "Tavolo";
    Layout = "~/Views/Shared/_LayoutServizioTavoli.cshtml";
    string data = "";
    if (Model.GestioneTavolo != null)
    {
        data = Model.GestioneTavolo.data_prenotazione.ToString();
    }
}

<div class="container-fluid text-center " style="margin-top: 5vw">

    @if (Model.GestioneTavolo == null)
    {
        using (Html.BeginForm("SalvaNumero", "ServizioTavoli", FormMethod.Post))
        {
            @Html.HiddenFor(t => t.Tavolo.id_tavolo)
            <div class=" container-fluid">
                <div class="row">
                    <h2><strong>Tavolo @Model.Tavolo.numero</strong></h2>
                    <h3>@Model.Tavolo.nome</h3>
                    <div>
                        @Html.TextBoxFor(n => n.GestioneTavolo.numero_persone, new { @class = "form-control textBoxSpecial", @placeholder = "Numero di persone", @required = true, @type = "number", @min = 1 })
                    </div>
                    <div>
                        @Html.TextBoxFor(n => n.GestioneTavolo.nome_prenotazione, new { @class = "form-control textBoxSpecial", @placeholder = "Nome prenotazione", @type = "text" })
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-6">
                    <div>
                        <a class="btn btn-Special2" value="Indietro" name="buttonType" href="@Url.Action("IndexTavoli", "ServizioTavoli")">Indietro</a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div>
                        <button class="btn btn-Special2" type="submit">Vai al Menu</button>
                    </div>
                </div>
            </div>
        }
    }
    @if (Model.GestioneTavolo != null)
    {
        using (Html.BeginForm("SalvaNumero", "ServizioTavoli", FormMethod.Post))
        {
            @Html.HiddenFor(t => t.Tavolo.id_tavolo)
            @Html.HiddenFor(t => t.GestioneTavolo.id_gestione)

            //PRIMA ROW
            <div class="row">
                <div class="col-xs-12">
                    <div>
                        <h2>Info Tavolo:</h2>
                    </div>
                    <div>
                        <h4><b>Occupato da: </b><span id="timer"></span></h4>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <p><b>N.Tavolo: @Model.Tavolo.numero</b></p>
                        </div>
                        <div class="col-xs-6">
                            <p><b>Descrizione: @Model.Tavolo.nome</b></p>
                        </div>
                        <div class="col-xs-6">
                            <p><b>N.Persone: @Model.GestioneTavolo.numero_persone</b></p>
                        </div>
                        <div class="col-xs-6">
                            @if (!string.IsNullOrEmpty(Model.GestioneTavolo.nome_prenotazione))
                            {
                                <p>
                                    <b>
                                        Nome prenotazione:
                                        @if (!string.IsNullOrEmpty(Model.GestioneTavolo.nome_prenotazione))
                                        {
                                            @Model.GestioneTavolo.nome_prenotazione
                                        }
                                    </b>
                                </p>
                            }
                        </div>
                    </div>
                </div>
            </div>

            //SECONDA ROW
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <a class="btn btn-Special2" value="Indietro" name="buttonType" href="@Url.Action("IndexTavoli", "ServizioTavoli")">Indietro</a>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <button class="btn btn-Special2" type="submit">Vai al Menu</button>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <button class="btn btn-Special2" type="button" onclick="openPreconto();" @*onclick="location.href='@Url.Action("StampaPreconto", "Ordini", new { idGestione = Model.GestioneTavolo.id_gestione })'"*@>Preconto</button>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <button class="btn btn-Special2" type="button" onclick="openChiudiTavolo();">Chiudi Tavolo</button>
                        </div>
                    </div>
                </div>
            </div>

            //TERZA ROW
            <div class="row">
                <div class="col-xs-12">
                    <div>
                        <h2><b>Ordine:</b></h2>
                    </div>
                    <div class="table-responsive">
                        <table class="table tabOrder tabWhite" style="text-align: left">
                            <thead style="text-align:center">
                                <tr>
                                    <th>Prodotto</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var prodottoOrdine in Model.ListaProdottiOrdine)
                                {
                                    <tr>
                                        <td>@prodottoOrdine.NomeProdotto (x @prodottoOrdine.QuantitaTotale)</td>
                                        <td>@prodottoOrdine.NoteTotali</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <table class="table tabWhite" style="text-align: center">
                            <thead>
                                <tr>
                                    <th style="text-align: center">Totale</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@string.Format("{0:#.00}", Model.GestioneTavolo.totale) €</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            @* ------------------------- Modale Chiudi Tavolo ------------------------- *@
            <div class="modal" id="modal_chiudi_tavolo" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div style="padding: 0 2vw;">
                                <h3 id="nome_prodotto"></h3>
                                <input id="idProdotto" value="0" type="hidden" />
                                <br />
                                <div class="row" style="color: black !important">
                                    <div class="col-12">
                                        <h3>Vuoi davvero chiudere il tavolo?</h3>
                                    </div>
                                </div>
                                <br />
                                <div class="row btn-group-custom">
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-Special2" data-dismiss="modal">Annulla</button>
                                    </div>
                                    @*<div class="col-sm-2"></div>*@
                                    <div class="col-sm-6">
                                        <button class="btn btn-Special2" type="button" id="add_pay" onclick="location.href='@Url.Action("ChiudiTavolo", "ServizioTavoli", new { idGestione = Model.GestioneTavolo.id_gestione })'">Sì</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* --------------------------- Fine Modale ---------------------------- *@

            @* ------------------------- Modale Preconto ------------------------- *@
            <div class="modal" id="modal_preconto" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button style="border-radius:4px;" type="button" class="close" data-dismiss="modal">&times;</button>
                            <h2 class="modal-title">Metodo di Pagamento</h2>
                        </div>
                        <div class="modal-body">
                            <div style="padding: 0 2vw;">
                                <h3 id="nome_prodotto"></h3>
                                <input id="idProdotto" value="0" type="hidden" />
                                <br />
                                <div class="row">
                                    <div class="col-12">
                                        @Html.DropDownListFor(model => model.TipoPagamento, new SelectList(Model.ListaTipoPagamento, "descrizione_tipo_pagamento", "descrizione_tipo_pagamento"), "Seleziona Metodo di Pagamento", new { @class = "form-control", @id = "tipoPagamento2" })
                                    </div>
                                </div>
                                <br />
                                <input class="btn btn-Special2" id="add_pay" value="Salva" onclick="stampaPreconto()" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* --------------------------- Fine Modale ---------------------------- *@

            @* ------------------------- Modale Conto ------------------------- *@
            <div class="modal" id="modal_pagamento" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button style="border-radius:4px;" type="button" class="close" data-dismiss="modal">&times;</button>
                            <h2 class="modal-title">Metodo di Pagamento</h2>
                        </div>
                        <div class="modal-body">
                            <div style="padding: 0 2vw;">
                                <h3 id="nome_prodotto"></h3>
                                <input id="idProdotto" value="0" type="hidden" />
                                <br />
                                <div class="row">
                                    <div class="col-12">
                                        @Html.DropDownListFor(model => model.TipoPagamento, new SelectList(Model.ListaTipoPagamento, "descrizione_tipo_pagamento", "descrizione_tipo_pagamento"), "Seleziona Metodo di Pagamento", new { @class = "form-control", @id = "tipoPagamento" })
                                    </div>
                                </div>
                                <br />
                                <input class="btn btn-Special2" id="add_pay" value="Salva" onclick="StampaFiscaleCheck()" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* --------------------------- Fine Modale ---------------------------- *@
        }

<script>

            function openChiudiTavolo() {
                $('#modal_chiudi_tavolo').modal("show");
            }

            function openPreconto() {
                $('#modal_preconto').modal("show");
            }

            function stampaPreconto() {
                let pagamento = document.querySelector("#tipoPagamento2").value;

                $.ajax({
                    url: "/Ordini/StampaPreconto",
                    type: "POST",
                    data: {
                        idGestione: @Model.GestioneTavolo.id_gestione,
                        pagamento: pagamento

                    },
                    success: function (result) {
                        $('#modal_preconto').modal("hide");
                        if (result == "OK") {
                            alert("Preconto in stampa");
                        }
                        else {
                            alert("Errore");
                        }
                    },
                    error: function (xhr, status) {
                        alert(status);
                    }
                });
    }



            // Funzione per aggiornare il timer
            function updateTimer() {
                 $.ajax({
                     url: "/ServizioTavoli/TimerTavolo",
                    type: "POST",
                    data: {
                        idTavolo: @Model.GestioneTavolo.id_tavolo,
                        idgestione: @Model.GestioneTavolo.id_gestione
                    },
                    success: function (result) {
                        document.querySelector('#timer').innerText = result;
                    },
                    error: function (xhr, status) {
                        alert(status);
                    }
                 });
            }

            // Aggiorna il timer ogni secondo
            setInterval(updateTimer, 1000);

            // Chiamata iniziale per aggiornare subito il timer
            updateTimer();


</script>
    }
</div>
