@{
    Layout = "";
}

@model Vetrina.Models.CustomModel.LoginModel

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Gestione Delivery</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/scroller/2.0.1/css/scroller.dataTables.min.css">*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body class="login-page">
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="login-box">
                    <div class="logo">
                        <img id="Logo " />
                    </div>
                    <div class="panel" style="font-size: 1.5rem !important;">
                        <div class="panel-body panel-login" style="background: #f2f2f2; padding: 2vw 3vw;">
                            @using (Html.BeginForm("LoginUtente", "Ordini", FormMethod.Post))
                            {
                                @Html.ValidationSummary(true)
                                @Html.AntiForgeryToken()
                                <div class="logo">
                                    <img src="~/images/servizi/logo-nero-barbeqool.png" width="250" style="display: block;margin-left: auto;margin-right: auto;padding-top:20px" />
                                </div>
                                <br />
                                <div class="text-center">
                                    <div class="msg">Inserire Email e Password</div>
                                </div>
                                <div class="text-center">
                                    <div class="input-group">
                                        <span class="input-group-addon" style="border: none; padding: 0 !important">
                                            <i class="material-icons">person</i>
                                        </span>
                                        <div class="form-line">
                                            @Html.TextBoxFor(u => u.Email, new { @class = "form-control textBoxSpecialLog", @placeholder = "Email" })
                                            <br />

                                            @*<input type="text" class="form-control" name="username" placeholder="Username" required autofocus>*@
                                        </div>
                                        @Html.ValidationMessageFor(u => u.Email, "", new { @class = "message_validation", @style = "float:left;color:red" })
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="border: none; padding: 0 !important">
                                            <i class="material-icons">lock</i>
                                        </span>
                                        <div class="form-line">
                                            @Html.TextBoxFor(u => u.Password, new { @class = "form-control textBoxSpecialLog", @placeholder = "Password", @type = "password" })
                                            <br />
                                            @*<input type="password" class="form-control" name="password" placeholder="Password" required>*@
                                        </div>
                                        @Html.ValidationMessageFor(u => u.Password, "", new { @class = "message_validation", @style = "float:left;color:red" })
                                    </div>
                                </div>
                                <div @*class="panel-footer"*@>
                                    <div class="row d-flex btn-group-custom" style="padding-top: 1vw;">
                                        <div class="col-sm-6">
                                            <input type="checkbox" id="ricordami" class="filled-in chk-col-blue">
                                            <label for="ricordami" style="color: #9B000E">Ricordami</label>
                                            @Html.HiddenFor(model => model.Rememberme)
                                        </div>
@*                                        <div class="col-4"></div>*@
                                        <div class="col-sm-6">
                                            <button class="btn btn-customLog" type="submit">Entra</button>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row ">
                                        <div class="col-xs-12 align-right">
                                            <a href="~/Ordini/Recupera" style="color: #9B000E">Password dimenticata?</a>
                                        </div>
                                    </div>
                                </div>
                                
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/scroller/2.0.1/js/dataTables.scroller.min.js"></script>*@
    <script type="text/javascript">

        $('#ricordami').change(function () {
            //alert($('#ricordami')[0].checked);
            $('#Rememberme').val($('#ricordami')[0].checked);
        });


    </script>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                alert('@ViewBag.Message');
            })
        </script>
    }


</body>


</html>
