@model Admin.Models.CustomModels.SliderModel
@{
    ViewBag.Title = "Bacheca Secondaria";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @*@(Model.s_p1.type == "cat" ? Model.s_p1.id_categoria : Model.s_p1.id_prodotto)'*@
var Sdata1 = 0;
var Sdata2 = 0;
var Sdata3 = 0;
var Sdata4 = 0;

if (Model.s_p1.type == "cat")
{
    Sdata1 = (int)Model.s_p1.id_categoria;
}
else if(Model.s_p1.type == "prod")
{
    Sdata1 = (int)Model.s_p1.id_prodotto;

}
else if(Model.s_p1.type == "sottcat")
{
    Sdata1 = (int)Model.s_p1.id_sottocategoria;

}


if (Model.s_p2.type == "cat")
{
    Sdata2 = (int)Model.s_p2.id_categoria;
}
else if (Model.s_p2.type == "prod")
{
    Sdata2 = (int)Model.s_p2.id_prodotto;

}
else if (Model.s_p2.type == "sottcat")
{
    Sdata2 = (int)Model.s_p2.id_sottocategoria;

}


if (Model.s_p3.type == "cat")
{
    Sdata3 = (int)Model.s_p3.id_categoria;
}
else if (Model.s_p3.type == "prod")
{
    Sdata3 = (int)Model.s_p3.id_prodotto;

}
else if (Model.s_p3.type == "sottcat")
{
    Sdata3 = (int)Model.s_p3.id_sottocategoria;

}


if (Model.s_p4.type == "cat")
{
    Sdata4 = (int)Model.s_p4.id_categoria;
}
else if (Model.s_p4.type == "prod")
{
    Sdata4 = (int)Model.s_p4.id_prodotto;

}
else if (Model.s_p4.type == "sottcat")
{
    Sdata4 = (int)Model.s_p4.id_sottocategoria;

}


}

<style>
    section.content {
        margin: 15px 15px 0 315px;
    }

    .d_none {
        display: none;
    }

    .input_row {
        height: 150px;
        padding: 0 5px;
    }

    .radio_row {
        width: 100%;
        display: flex;
    }

    .dx-fileuploader-files-container {
        padding-top: 0 !important;
    }

    .panel-heading {
        padding: 5px 15px !important;
    }

    .image-container {
        padding: 0 3px;
        position: relative;
    }

    .overlay_img_piccole {
        position: absolute;
        bottom: 0;
        left: 4px;
        width: 294px;
        height: 30%;
        background: rgba(0, 0, 0, 0.5);
        transition: height 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .overlay_img_piccole:hover {
            height: 294px;
        }

        .overlay_img_piccole p {
            font-size: 3rem;
        }

    #s2_impostazioni {
        padding: 15px;
    }
</style>

<div class="panel-heading"><h3><strong>Layout Bacheca Secondaria</strong></h3></div>

<div class="row">
    <div class="col-md-12" id="s2_impostazioni">
        <div class="panel panelGreen">
            <div class="panel-heading"><h3><strong>Impostazione Bacheca</strong></h3></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        @* tipologia *@
                        <div class="row">
                            <div class="panel panelGreen">
                                <div class="panel-heading"><h5><strong>Box 1</strong></h5></div>
                                <div class="panel-body radio_row" style="display: flex; justify-content: space-evenly;">
                                    <div class="form-check" style=" display: flex; align-items: center;">
                                        <input class="form-check-input" style=" margin: auto;" type="radio" name="s2_p1" id="prodotto_p1" value="prod" @(Model.s_p1.type == "prod" ? "checked" : "" )>
                                        <label class="form-check-label" for="prodotto_p1" style="padding-left: 5px !important; margin-bottom: 0">
                                            Prodotto
                                        </label>
                                    </div>
                                    <div class="form-check" style=" display: flex; align-items: center;">
                                        <input class="form-check-input" style=" margin: auto;" type="radio" name="s2_p1" id="categoria_p1" value="cat" @(Model.s_p1.type == "cat" ? "checked" : "" )>
                                        <label class="form-check-label" for="categoria_p1" style="padding-left: 5px !important; margin-bottom: 0 ">
                                            Categoria
                                        </label>
                                    </div>
                                    <div class="form-check" style=" display: flex; align-items: center;">
                                        <input class="form-check-input" style=" margin: auto;" type="radio" name="s2_p1" id="sottocategoria_p1" value="sottcat" @(Model.s_p1.type == "sottcat" ? "checked" : "" )>
                                        <label class="form-check-label" for="sottocategoria_p1" style="padding-left: 5px !important; margin-bottom: 0 ">
                                            Sottocategoria
                                        </label>
                                    </div>

                                    <div class="form-check" style=" display: flex; align-items: center;">
                                        <input class="form-check-input" style=" margin: auto;" type="radio" name="s2_p1" id="custom_p1" value="cus" @(Model.s_p1.type == "cus" ? "checked" : "" )>
                                        <label class="form-check-label" for="custom_p1" style="padding-left: 5px !important; margin-bottom: 0">
                                            Immagini Custom
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* input field 1*@
                        <div class="row input_row">
                            <div data-id="s2_p1" data-role="prod" class="@(Model.s_p1.type == "prod" ? "" : "d_none" )">
                                <div>Prodotti</div>
                                @(Html.DevExtreme().SelectBox()
                                        .DataSource(Model.Prodotti)
                                        .Name("prod_s2_p1")
                                        .ID("prod_s2_p1")
                                        .DisplayExpr("Descrizione")
                                        .ValueExpr("id_prodotto")
                                        .ShowClearButton(true)
                                        .OnValueChanged("s2_page.ShowProdPreview")
                                        .Width(200)
                                        .Value(Model.s_p1.id_prodotto)
                                    )
                            </div>
                            <div data-id="s2_p1" data-role="cat" class="@(Model.s_p1.type == "cat" ? "" : "d_none" )">
                                <div>Categorie</div>
                                @(Html.DevExtreme().SelectBox()
                                        .DataSource(Model.Categorie)
                                        .Name("cat_s2_p1")
                                        .ID("cat_s2_p1")
                                        .DisplayExpr("Descrizione")
                                        .ValueExpr("id_categorie")
                                        .Placeholder("Selezionare Categoria")
                                        .ShowClearButton(true)
                                        .OnValueChanged("s2_page.ShowCatPreview")
                                        .Width(200)
                                        .Value(Model.s_p1.id_categoria)
                                    )
                            </div>
                            <div data-id="s2_p1" data-role="sottcat" class="@(Model.s_p1.type == "sottcat" ? "" : "d_none" )">
                                <div>Sottocategorie</div>
                                @(Html.DevExtreme().SelectBox()
                                        .DataSource(Model.Sottocategorie)
                                        .Name("sottcat_s2_p1")
                                        .ID("sottcat_s2_p1")
                                        .DisplayExpr("Nome")
                                        .ValueExpr("id_sottocategoria")
                                        .Placeholder("Selezionare Sottocategoria")
                                        .ShowClearButton(true)
                                        .OnValueChanged("s2_page.ShowSottCatPreview")
                                        .Width(200)
                                        .Value(Model.s_p1.id_sottocategoria)
                                    )
                            </div>
                            <div data-id="s2_p1" data-role="cus" class="@(Model.s_p1.type == "cus" ? "" : "d_none" )">
                                <div>Immagini Custom</div>
                                @(Html.DevExtreme().FileUploader().ID("cus_s2_p1")
                                        .Name("myFile")
                                        .SelectButtonText("Seleziona un file")
                                        .LabelText("Trascina il file qui")
                                        .Accept("image/*")
                                        .UploadMode(FileUploadMode.UseButtons)
                                        .UploadUrl(Url.Action("UploadImg", "HomeLayout"))
                                        .OnValueChanged("s2_page.ShowCusPreview")

                                    )
                            </div>
                        </div>
                        <div class="row input_row">
                            <div>Sovraimpressione</div>
                            <div data-id="s2_p1" data-role="Description" style="margin-top: 5px;">
                                @(Html.DevExtreme().TextBox().ID("desc_s2_p1_ita")
                                    .Name("Description")
                                    .OnValueChanged("s2_page.ShowDescText")
                                    .Placeholder("Inserisci Sovraimpressione")
                                    .Value(Model.s_p1.Descrizione)
                                    .Width(300)
                                )
                            </div>
                            <div data-id="s2_p1" data-role="Description" style="margin-top: 5px;">
                                @(Html.DevExtreme().TextBox().ID("desc_s2_p1_eng")
                                    .Name("Description")
                                    .OnValueChanged("s2_page.ShowDescTextEng")
                                    .Placeholder("Inserisci Sovraimpressione Inglese")
                                    .Value(Model.s_p1.Descrizione_eng)
                                    .Width(300)
                                )
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        @* tipologia *@
                        <div class="row">
                            <div class="panel panelGreen">
                                <div class="panel-heading"><h5><strong>Box 2</strong></h5></div>
                                <div class="panel-body radio_row" style="display: flex; justify-content: space-evenly;">
                                    <div class="form-check" style=" display: flex; align-items: center;">
                                        <input class="form-check-input" style=" margin: auto;" type="radio" name="s2_p2" id="prodotto_p2" value="prod" @(Model.s_p2.type == "prod" ? "checked" : "" )>
                                        <label class="form-check-label" for="prodotto_p2" style="padding-left: 5px !important; margin-bottom: 0">
                                            Prodotto
                                        </label>
                                    </div>
                                    <div class="form-check" style=" display: flex; align-items: center;">
                                        <input class="form-check-input" style=" margin: auto;" type="radio" name="s2_p2" id="categoria_p2" value="cat" @(Model.s_p2.type == "cat" ? "checked" : "" )>
                                        <label class="form-check-label" for="categoria_p2" style="padding-left: 5px !important; margin-bottom: 0">
                                            Categoria
                                        </label>
                                    </div>
                                    <div class="form-check" style=" display: flex; align-items: center;">
                                        <input class="form-check-input" style=" margin: auto;" type="radio" name="s2_p2" id="sottocategoria_p2" value="sottcat" @(Model.s_p2.type == "sottcat" ? "checked" : "" )>
                                        <label class="form-check-label" for="sottocategoria_p2" style="padding-left: 5px !important; margin-bottom: 0">
                                            Sottocategoria
                                        </label>
                                    </div>

                                    <div class="form-check" style=" display: flex; align-items: center;">
                                        <input class="form-check-input" style=" margin: auto;" type="radio" name="s2_p2" id="custom_p2" value="cus" @(Model.s_p2.type == "cus" ? "checked" : "" )>
                                        <label class="form-check-label" for="custom_p2" style="padding-left: 5px !important; margin-bottom: 0">
                                            Immagini Custom
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        @* input field 2*@
                        <div class="row input_row">
                            <div data-id="s2_p2" data-role="prod" class="@(Model.s_p2.type == "prod" ? "" : "d_none" )">
                                <div>Prodotti</div>
                                @(Html.DevExtreme().SelectBox()
                                    .DataSource(Model.Prodotti)
                                    .Name("prod_s2_p2")
                                    .ID("prod_s2_p2")
                                    .DisplayExpr("Descrizione")
                                    .ValueExpr("id_prodotto")
                                    .Placeholder("Selezionare Prodotto")
                                    .ShowClearButton(true)
                                    .OnValueChanged("s2_page.ShowProdPreview")
                                    .Width(200)
                                    .Value(Model.s_p2.id_prodotto)
                                )
                            </div>

                            <div data-id="s2_p2" data-role="cat" class="@(Model.s_p2.type == "cat" ? "" : "d_none" )">
                                <div>Categorie</div>
                                @(Html.DevExtreme().SelectBox()
                                    .DataSource(Model.Categorie)
                                    .Name("cat_s2_p2")
                                    .ID("cat_s2_p2")
                                    .DisplayExpr("Descrizione")
                                    .ValueExpr("id_categorie")
                                    .Placeholder("Selezionare Categoria")
                                    .ShowClearButton(true)
                                    .OnValueChanged("s2_page.ShowCatPreview")
                                    .Width(200)
                                    .Value(Model.s_p2.id_categoria)
                                )
                            </div>
                            <div data-id="s2_p2" data-role="sottcat" class="@(Model.s_p2.type == "sottcat" ? "" : "d_none" )">
                                <div>Sottcategorie</div>
                                @(Html.DevExtreme().SelectBox()
                                 .DataSource(Model.Sottocategorie)
                                 .Name("sottcat_s2_p2")
                                 .ID("sottcat_s2_p2")
                                 .DisplayExpr("Nome")
                                 .ValueExpr("id_sottocategoria")
                                 .Placeholder("Selezionare Sottategoria")
                                 .ShowClearButton(true)
                                 .OnValueChanged("s2_page.ShowSottCatPreview")
                                 .Width(200)
                                 .Value(Model.s_p2.id_sottocategoria)
                             )
                            </div>
                            <div data-id="s2_p2" data-role="cus" class="@(Model.s_p2.type == "cus" ? "" : "d_none" )">
                                <div>Immagini Custom</div>
                                @(Html.DevExtreme().FileUploader().ID("cus_s2_p2")
                                    .Name("myFile")
                                    .SelectButtonText("Seleziona un file")
                                    .LabelText("Trascina il file qui")
                                    .Accept("image/*")
                                    .UploadMode(FileUploadMode.UseButtons)
                                    .UploadUrl(Url.Action("UploadImg", "HomeLayout"))
                                    .OnValueChanged("s2_page.ShowCusPreview")

                                )
                            </div>
                        </div>
                        <div class="row input_row">
                            <div>Sovraimpressione</div>
                            <div data-id="s2_p1" data-role="Description" style="margin-top: 5px;">
                                @(Html.DevExtreme().TextBox().ID("desc_s2_p2_ita")
                                    .Name("Description")
                                    .OnValueChanged("s2_page.ShowDescText")
                                    .Placeholder("Inserisci Sovraimpressione")
                                    .Value(Model.s_p2.Descrizione)
                                    .Width(300)
                                )
                            </div>
                            <div data-id="s2_p1" data-role="Description" style="margin-top: 5px;">
                                @(Html.DevExtreme().TextBox().ID("desc_s2_p2_eng")
                                    .Name("Description")
                                    .OnValueChanged("s2_page.ShowDescTextEng")
                                    .Placeholder("Inserisci Sovraimpressione Inglese")
                                    .Value(Model.s_p2.Descrizione_eng)
                                    .Width(300)
                                )
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        @* tipologia *@
                        <div class="row">
                            <div class="panel panelGreen">
                                <div class="panel-heading"><h5><strong>Box 3</strong></h5></div>
                                <div class="panel-body radio_row" style="display: flex; justify-content: space-evenly;">
                                    <div class="form-check" style=" display: flex; align-items: center;">
                                        <input style="margin:auto" class="form-check-input" type="radio" name="s2_p3" id="prodotto_p3" value="prod" @(Model.s_p3.type == "prod" ? "checked" : "" )>
                                        <label class="form-check-label" for="prodotto_p3" style="padding-left: 5px !important; margin-bottom: 0">
                                            Prodotto
                                        </label>
                                    </div>
                                    <div class="form-check" style=" display: flex; align-items: center;">
                                        <input style="margin:auto" class="form-check-input" type="radio" name="s2_p3" id="categoria_p3" value="cat" @(Model.s_p3.type == "cat" ? "checked" : "" )>
                                        <label class="form-check-label" for="categoria_p3" style="padding-left: 5px !important; margin-bottom: 0">
                                            Categoria
                                        </label>
                                    </div>
                                    <div class="form-check" style=" display: flex; align-items: center;">
                                        <input style="margin:auto" class="form-check-input" type="radio" name="s2_p3" id="sottocategoria_p3" value="sottcat" @(Model.s_p3.type == "sottcat" ? "checked" : "" )>
                                        <label class="form-check-label" for="sottocategoria_p3" style="padding-left: 5px !important; margin-bottom: 0">
                                            Sottocategoria
                                        </label>
                                    </div>
                                    <div class="form-check" style=" display: flex; align-items: center;">
                                        <input style="margin:auto" class="form-check-input" type="radio" name="s2_p3" id="custom_p3" value="cus" @(Model.s_p3.type == "cus" ? "checked" : "" )>
                                        <label class="form-check-label" for="custom_p3" style="padding-left: 5px !important; margin-bottom: 0">
                                            Immagini Custom
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        @* input field 3*@
                        <div class="row input_row">
                            <div data-id="s2_p3" data-role="prod" class="@(Model.s_p3.type == "prod" ? "" : "d_none" )">
                                <div>Prodotti</div>
                                @(Html.DevExtreme().SelectBox()
                                    .DataSource(Model.Prodotti)
                                    .Name("prod_s2_p3")
                                    .ID("prod_s2_p3")
                                    .DisplayExpr("Descrizione")
                                    .ValueExpr("id_prodotto")
                                    .Placeholder("Selezionare Prodotto")
                                    .ShowClearButton(true)
                                    .OnValueChanged("s2_page.ShowProdPreview")
                                    .Width(200)
                                    .Value(Model.s_p3.id_prodotto)
                                )
                            </div>
                            <div data-id="s2_p3" data-role="cat" class="@(Model.s_p3.type == "cat" ? "" : "d_none" )">
                                <div>Categorie</div>
                                @(Html.DevExtreme().SelectBox()
                                    .DataSource(Model.Categorie)
                                    .Name("cat_s2_p3")
                                    .ID("cat_s2_p3")
                                    .DisplayExpr("Descrizione")
                                    .ValueExpr("id_categorie")
                                    .Placeholder("Selezionare Categoria")
                                    .ShowClearButton(true)
                                    .OnValueChanged("s2_page.ShowCatPreview")
                                    .Width(200)
                                    .Value(Model.s_p3.id_categoria)
                                )
                            </div>
                            <div data-id="s2_p3" data-role="sottcat" class="@(Model.s_p3.type == "sottcat" ? "" : "d_none" )">
                                <div>Sottcategorie</div>
                                @(Html.DevExtreme().SelectBox()
                                    .DataSource(Model.Sottocategorie)
                                    .Name("sottcat_s2_p3")
                                    .ID("sottcat_s2_p3")
                                    .DisplayExpr("Nome")
                                    .ValueExpr("id_sottocategoria")
                                    .Placeholder("Selezionare Sottcategoria")
                                    .ShowClearButton(true)
                                    .OnValueChanged("s2_page.ShowSottCatPreview")
                                    .Width(200)
                                    .Value(Model.s_p3.id_sottocategoria)
                                )
                            </div>
                            <div data-id="s2_p3" data-role="cus" class="@(Model.s_p3.type == "cus" ? "" : "d_none" )">
                                <div>Immagini Custom</div>
                                @(Html.DevExtreme().FileUploader().ID("cus_s2_p3")
                                    .Name("myFile")
                                    .SelectButtonText("Seleziona un file")
                                    .LabelText("Trascina il file qui")
                                    .Accept("image/*")
                                    .UploadMode(FileUploadMode.UseButtons)
                                    .UploadUrl(Url.Action("UploadImg", "HomeLayout"))
                                    .OnValueChanged("s2_page.ShowCusPreview")

                                )
                            </div>
                        </div>
                        <div class="row input_row">
                            <div>Sovraimpressione</div>
                            <div data-id="s2_p1" data-role="Description" style="margin-top: 5px;">
                                @(Html.DevExtreme().TextBox().ID("desc_s2_p3_ita")
                                    .Name("Description")
                                    .OnValueChanged("s2_page.ShowDescText")
                                    .Placeholder("Inserisci Sovraimpressione")
                                    .Value(Model.s_p3.Descrizione)
                                    .Width(300)
                                )
                            </div>
                            <div data-id="s2_p1" data-role="Description" style="margin-top: 5px;">
                                @(Html.DevExtreme().TextBox().ID("desc_s2_p3_eng")
                                    .Name("Description")
                                    .OnValueChanged("s2_page.ShowDescTextEng")
                                    .Placeholder("Inserisci Sovraimpressione Inglese")
                                    .Value(Model.s_p3.Descrizione_eng)
                                    .Width(300)
                                )
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        @* tipologia *@
                        <div class="row">
                            <div class="panel panelGreen">
                                <div class="panel-heading"><h5><strong>Box 4</strong></h5></div>
                                <div class="panel-body radio_row" style="display: flex; justify-content: space-evenly;">
                                    <div class="form-check" style="display: flex; align-items: center;">
                                        <input style="margin:auto" class="form-check-input" type="radio" name="s2_p4" id="prodotto_p4" value="prod" @(Model.s_p4.type == "prod" ? "checked" : "" )>
                                        <label class="form-check-label" for="prodotto_p4" style="padding-left: 5px !important; margin-bottom: 0">
                                            Prodotto
                                        </label>
                                    </div>
                                    <div class="form-check" style="display: flex; align-items: center;">
                                        <input style="margin:auto" class="form-check-input" type="radio" name="s2_p4" id="categoria_p4" value="cat" @(Model.s_p4.type == "cat" ? "checked" : "" )>
                                        <label class="form-check-label" for="categoria_p4" style="padding-left: 5px !important; margin-bottom: 0">
                                            Categoria
                                        </label>
                                    </div>
                                    <div class="form-check" style="display: flex; align-items: center;">
                                        <input style="margin:auto" class="form-check-input" type="radio" name="s2_p4" id="sottocategoria_p4" value="sottcat" @(Model.s_p4.type == "sottcat" ? "checked" : "" )>
                                        <label class="form-check-label" for="sottocategoria_p4" style="padding-left: 5px !important; margin-bottom: 0">
                                            Sottocategoria
                                        </label>
                                    </div>
                                    <div class="form-check" style="display: flex; align-items: center;">
                                        <input style="margin:auto" class="form-check-input" type="radio" name="s2_p4" id="custom_p4" value="cus" @(Model.s_p4.type == "cus" ? "checked" : "" )>
                                        <label class="form-check-label" for="custom_p4" style="padding-left: 5px !important; margin-bottom: 0">
                                            Immagini Custom
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        @* input field 4*@
                        <div class="row input_row">
                            <div data-id="s2_p4" data-role="prod" class="@(Model.s_p4.type == "prod" ? "" : "d_none" )">
                                <div>Prodotti</div>
                                @(Html.DevExtreme().SelectBox()
                                    .DataSource(Model.Prodotti)
                                    .Name("prod_s2_p4")
                                    .ID("prod_s2_p4")
                                    .DisplayExpr("Descrizione")
                                    .ValueExpr("id_prodotto")
                                    .Placeholder("Selezionare Prodotto")
                                    .ShowClearButton(true)
                                    .OnValueChanged("s2_page.ShowProdPreview")
                                    .Width(200)
                                    .Value(Model.s_p4.id_prodotto)
                                )
                            </div>
                            <div data-id="s2_p4" data-role="cat" class="@(Model.s_p4.type == "cat" ? "" : "d_none" )">
                                <div>Categorie</div>
                                @(Html.DevExtreme().SelectBox()
                                    .DataSource(Model.Categorie)
                                    .Name("cat_s2_p4")
                                    .ID("cat_s2_p4")
                                    .DisplayExpr("Descrizione")
                                    .ValueExpr("id_categorie")
                                    .Placeholder("Selezionare Categoria")
                                    .ShowClearButton(true)
                                    .OnValueChanged("s2_page.ShowCatPreview")
                                    .Width(200)
                                    .Value(Model.s_p4.id_categoria)
                                )
                            </div>
                            <div data-id="s2_p4" data-role="sottcat" class="@(Model.s_p4.type == "sottcat" ? "" : "d_none" )">
                                <div>Sottcategorie</div>
                                @(Html.DevExtreme().SelectBox()
                                    .DataSource(Model.Sottocategorie)
                                    .Name("sottcat_s2_p4")
                                    .ID("sottcat_s2_p4")
                                    .DisplayExpr("Nome")
                                    .ValueExpr("id_sottocategoria")
                                    .Placeholder("Selezionare Sottcategoria")
                                    .ShowClearButton(true)
                                    .OnValueChanged("s2_page.ShowSottCatPreview")
                                    .Width(200)
                                    .Value(Model.s_p4.id_sottocategoria)
                                )
                            </div>
                            <div data-id="s2_p4" data-role="cus" class="@(Model.s_p4.type == "cus" ? "" : "d_none" )">
                                <div>Immagini Custom</div>
                                @(Html.DevExtreme().FileUploader().ID("cus_s2_p4")
                                    .Name("myFile")
                                    .SelectButtonText("Seleziona un file")
                                    .LabelText("Trascina il file qui")
                                    .Accept("image/*")
                                    .UploadMode(FileUploadMode.UseButtons)
                                    .UploadUrl(Url.Action("UploadImg", "HomeLayout"))
                                    .OnValueChanged("s2_page.ShowCusPreview")

                                )
                            </div>
                        </div>
                        <div class="row input_row">
                            <div>Sovraimpressione</div>
                            <div data-id="s2_p1" data-role="Description" style="margin-top: 5px;">
                                @(Html.DevExtreme().TextBox().ID("desc_s2_p4_ita")
                                    .Name("Description")
                                    .OnValueChanged("s2_page.ShowDescText")
                                    .Placeholder("Inserisci Sovraimpressione")
                                    .Value(Model.s_p4.Descrizione)
                                    .Width(300)
                                )
                            </div>
                            <div data-id="s2_p1" data-role="Description" style="margin-top: 5px;">
                                @(Html.DevExtreme().TextBox().ID("desc_s2_p4_eng")
                                    .Name("Description")
                                    .OnValueChanged("s2_page.ShowDescTextEng")
                                    .Placeholder("Inserisci Sovraimpressione Inglese")
                                    .Value(Model.s_p4.Descrizione_eng)
                                    .Width(300)
                                )
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-12">
        <div class="panel panelGreen">
            <div class="panel-heading"><h3><strong>Anteprima</strong></h3></div>
            <div class="panel-body">
                <div class="row row-abiti" style="display: flex; justify-content: center; align-items: center; padding-top: 30px;">
                    <div class="image-container">
                        <img class="img-responsive" id="s2_p1_show" src="@Model.s_p1.path_img_slider" data-source="@Model.s_p1.type" data-id='@Sdata1' style="width:294px; height:294px; object-fit:cover;" />
                        <div class="overlay_img_piccole">
                            <p class="text-warning" data-id="s2_p1_desc_show">@Model.s_p1.Descrizione</p>
                        </div>
                    </div>
                    <br />
                    <div class="image-container">
                        <img class="img-responsive" id="s2_p2_show" src="@Model.s_p2.path_img_slider" data-source="@Model.s_p2.type" data-id='@Sdata2' style="width:294px; height:294px; object-fit:cover;" />
                        <div class="overlay_img_piccole">
                            <p class="text-warning" data-id="s2_p2_desc_show">@Model.s_p2.Descrizione</p>
                        </div>
                    </div>
                    <br />
                    <div class="image-container">
                        <img class="img-responsive" id="s2_p3_show" src="@Model.s_p3.path_img_slider" data-source="@Model.s_p3.type" data-id='@Sdata3' style="width:294px; height:294px; object-fit:cover;" />
                        <div class="overlay_img_piccole">
                            <p class="text-warning" data-id="s2_p3_desc_show">@Model.s_p3.Descrizione</p>
                        </div>
                    </div>
                    <br />
                    <div class="image-container">
                        <img class="img-responsive" id="s2_p4_show" src="@Model.s_p4.path_img_slider" data-source="@Model.s_p4.type" data-id='@Sdata4' style="width:294px; height:294px;" />
                        <div class="overlay_img_piccole">
                            <p class="text-warning" data-id="s2_p4_desc_show">@Model.s_p4.Descrizione</p>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <button type="button" class="btn btn-primary" id="p2Save">Salva Configurazione</button>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        s2_page.init();
    });

    let s2_page = {
        init: function () {
            $("input[type='radio']").off('click').on('click', function () {
                let row = $(this).attr("name");
                let target = $(this).val();

                $("div[data-id='" + row + "']").each(function () {
                    if ($(this).attr("data-role") == target || $(this).attr("data-role") == "Description") {
                        if ($(this).hasClass("d_none")) $(this).removeClass("d_none");
                    } else {
                        if (!$(this).hasClass("d_none")) $(this).addClass("d_none");
                        if (target != "cus") {
                            $("#" + target + "_" + row).dxSelectBox("instance").reset();
                        } else {
                            $("#" + target + "_" + row).dxFileUploader("instance").reset();
                        }
                    }
                })
            })

            $("#p2Save").off("click").on("click", function () {
                let message = "Attenzione! Mancano immagini a: ";
                let validation = true;
                if ($("#s2_p1_show").attr("src") == "" || typeof $("#s2_p1_show").attr("src") == 'undefined') {
                    message += " Box1 ";
                    validation = false;
                }
                if ($("#s2_p2_show").attr("src") == "" || typeof $("#s2_p2_show").attr("src") == 'undefined') {
                    message += " Box2 ";
                    validation = false;
                }
                if ($("#s2_p3_show").attr("src") == "" || typeof $("#s2_p3_show").attr("src") == 'undefined') {
                    message += " Box3 ";
                    validation = false;
                }
                if ($("#s2_p4_show").attr("src") == "" || typeof $("#s2_p4_show").attr("src") == 'undefined') {
                    message += " Box4 ";
                    validation = false;
                }

                if (!validation) {
                    alert(message);
                } else {
                    let values = s2_page.getPostDataSlider();
                    $.ajax({
                        url: "SalvaSecondSlider",
                        type: "POST",
                        data: {
                            values: values
                        },
                        success: function (res) {
                            if (res == "OK") {
                                let next = confirm("Bacheca principale salvata correttamente!")
                                if (next) {
                                    window.location.reload();
                                } else {
                                    window.location.reload();
                                }
                            }
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    })
                }

            });
        },
        ShowProdPreview: function (e) {
            $(".dx-fileuploader-button.dx-fileuploader-upload-button").each(function () {
                $(this).addClass("d_none");
            })
            let id = e.element[0].id.slice(5);
            if (e.value == "" || typeof e.value == undefined) {
                if ($("#" + id + "_num").hasClass("d_none")) {
                    $("#" + id + "_num").removeClass("d_none");
                }
            }
            $.ajax({
                url: "GetImmagineByProdId",
                type: "POST",
                data: {
                    id: e.value,
                    position: "2006",
                },
                success: function (res) {
                    if (!$("#" + id + "_num").hasClass("d_none")) {
                        $("#" + id + "_num").addClass("d_none");
                    }
                    $("#" + id + "_show").attr("src", res);
                    $("#" + id + "_show").attr("data-source", "prod");
                    $("#" + id + "_show").attr("data-id", e.value);
                },
                error: function (e) {
                    console.log(e);
                }
            })
        },
        ShowCatPreview: function (e) {
            $(".dx-fileuploader-button.dx-fileuploader-upload-button").each(function () {
                $(this).addClass("d_none");
            })
            let id = e.element[0].id.slice(4);
            if (e.value == "" || typeof e.value == undefined) {
                if ($("#" + id + "_num").hasClass("d_none")) {
                    $("#" + id + "_num").removeClass("d_none");
                }
            }

            $.ajax({
                url: "GetImmagineByCatId",
                type: "POST",
                data: {
                    id: e.value,
                    position: "2006",

                },
                success: function (res) {
                    if (!$("#" + id + "_num").hasClass("d_none")) {
                        $("#" + id + "_num").addClass("d_none");
                    }
                    $("#" + id + "_show").attr("src", res);
                    $("#" + id + "_show").attr("data-source", "cat");
                    $("#" + id + "_show").attr("data-id", e.value);
                },
                error: function (e) {
                    console.log(e);
                }
            });
        },
        ShowSottCatPreview: function (e) {
            $(".dx-fileuploader-button.dx-fileuploader-upload-button").each(function () {
                $(this).addClass("d_none");
            })
            let di = e.element[0].id.split("_");
            let id = di[1] + "_" + di[2];

            console.log(e)
            if (e.value == "" || typeof e.value == undefined) {
                if ($("#" + id + "_num").hasClass("d_none")) {
                    $("#" + id + "_num").removeClass("d_none");
                }
            }

            $.ajax({
                url: "GetImmagineBySottCatId",
                type: "POST",
                data: {
                    id: e.value,
                    position: "2006",

                },
                success: function (res) {
                    console.log(res)
                    console.log(id)
                    if (!$("#" + id + "_num").hasClass("d_none")) {
                        $("#" + id + "_num").addClass("d_none");
                    }
                    $("#" + id + "_show").attr("src", res);
                    $("#" + id + "_show").attr("data-source", "sottcat");
                    $("#" + id + "_show").attr("data-id", e.value);
                },
                error: function (e) {
                    console.log(e);
                }
            });
        },
        ShowCusPreview: function (e) {
            if (e.value.length != 0) {
                $(".dx-fileuploader-button.dx-fileuploader-upload-button").each(function () {
                    $(this).addClass("d_none");
                })
                let id = e.element[0].id.slice(4);
                if (!$("#" + id + "_num").hasClass("d_none")) {
                    $("#" + id + "_num").addClass("d_none");
                }
                let file = e.value[0];
                let img = new Image();
                img.src = window.URL.createObjectURL(file);
                img.onload = function () {
                    let width = img.naturalWidth;
                    let height = img.naturalHeight;

                    window.URL.revokeObjectURL(img.src);

                    if (width == 271 && height == 328) {
                        let formData = new FormData();
                        formData.append("myFile", e.value[0]);
                        $.ajax({
                            url: "UploadImg",
                            type: "POST",
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function (res) {
                                $("#" + id + "_show").attr("src", res);
                                $("#" + id + "_show").attr("data-source", "cus");
                            }
                        })
                    }
                    else {
                        alert("Dimensioni non valide: l'immagine deve essere 271x328px. Purtroppo quella fornita è di: " + width + "x" + height);
                    }
                };
            }
        },
        ShowDescText: function (e) {
            let text = e.value;
            let id = e.element[0].id.slice(5);

            $("p[data-id='" + id + "_desc_show']").html(text);
        },
        ShowDescTextEng: function (e) {
            let text = e.value;
            let id = e.element[0].id.slice(5);
            if ($("p[data-id='" + id + "_desc_show']").html() == "") {
                $("p[data-id='" + id + "_desc_show']").html(text);
            }
        },
        getPostDataSlider: function () {

            desc_s2_p4_eng

            let data = {
                s2_p1: {
                    img: $("#s2_p1_show").attr("src"),
                    source: $("#s2_p1_show").attr("data-source"),
                    id: $("#s2_p1_show").attr("data-id") != undefined ? $("#s2_p1_show").attr("data-id") : 0,
                    desc: $("#desc_s2_p1_ita").dxTextBox("instance").option("value") != "" ? $("#desc_s2_p1_ita").dxTextBox("instance").option("value") : "Acquista Ora",
                    desc_eng: $("#desc_s2_p1_eng").dxTextBox("instance").option("value") != "" ? $("#desc_s2_p1_eng").dxTextBox("instance").option("value") : "Buy Now",
                },
                s2_p2: {
                    img: $("#s2_p2_show").attr("src"),
                    source: $("#s2_p2_show").attr("data-source"),
                    id: $("#s2_p2_show").attr("data-id") != undefined ? $("#s2_p2_show").attr("data-id") : 0,
                    desc: $("#desc_s2_p2_ita").dxTextBox("instance").option("value") != "" ? $("#desc_s2_p2_ita").dxTextBox("instance").option("value") : "Acquista Ora",
                    desc_eng: $("#desc_s2_p2_eng").dxTextBox("instance").option("value") != "" ? $("#desc_s2_p2_eng").dxTextBox("instance").option("value") : "Buy Now",
                },
                s2_p3: {
                    img: $("#s2_p3_show").attr("src"),
                    source: $("#s2_p3_show").attr("data-source"),
                    id: $("#s2_p3_show").attr("data-id") != undefined ? $("#s2_p3_show").attr("data-id") : 0,
                    desc: $("#desc_s2_p3_ita").dxTextBox("instance").option("value") != "" ? $("#desc_s2_p3_ita").dxTextBox("instance").option("value") : "Acquista Ora",
                    desc_eng: $("#desc_s2_p3_eng").dxTextBox("instance").option("value") != "" ? $("#desc_s2_p3_eng").dxTextBox("instance").option("value") : "Buy Now",
                },
                s2_p4: {
                    img: $("#s2_p4_show").attr("src"),
                    source: $("#s2_p4_show").attr("data-source"),
                    id: $("#s2_p4_show").attr("data-id") != undefined ? $("#s2_p4_show").attr("data-id") : 0,
                    desc: $("#desc_s2_p4_ita").dxTextBox("instance").option("value") != "" ? $("#desc_s2_p4_ita").dxTextBox("instance").option("value") : "Acquista Ora",
                    desc_eng: $("#desc_s2_p4_eng").dxTextBox("instance").option("value") != "" ? $("#desc_s2_p4_eng").dxTextBox("instance").option("value") : "Buy Now",
                },
            };
            return JSON.stringify(data);
        }

    }
</script>
